.teks {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    margin-top: 30px;
    padding-top: 5px;
}

h2 {
    font-size: 50px;
    padding: 30px 30px;
}

.columndo {
    float: left;
    width: 50%;
    text-align: center;
    padding-top: 30px;
}
.columndo img {
    border-radius: 50%;
    max-width: 500px;
}

.columndo p {
    padding-left: 30px;
    padding-right: 30px;
}