.kegiatan-wrapper form{
    padding-top: 70px;
    height: 100%;
    align-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.kegiatan-wrapper input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-width: 350px;
    font-size: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    padding: 5px;
    color: #FFFAD4;
    background-color:black;
    outline: none;
}
.kegiatan-wrapper h3{
    font-size: 60px;
    margin: 20px;
}

.kegiatan-wrapper input[type=submit] {
    margin-top: 10px;
    border-bottom: none;
    background-color: black;    
}
.kegiatan-wrapper input[type=submit] :hover {
    background-color: #FEC83E;
}
.kegiatan-wrapper input::placeholder{
    color: #FFFAD4;
}
.kegiatan-wrapper h1{
    color: black;
    font-size: 50px;
}