body {
    background-color: #FEC83E;
    margin: 0;
}
/*NAVBAR*/
.topnav {
    display: block;
    position: fixed;
    background-color:black;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
}
.topnav a {
    font-size: 20px;
    padding: 14px;
    background-color: black;
    text-align: center;
    text-decoration: none;
    color: #FEC83E;
    height: 50px;
    line-height: 50px;
    margin: 0;
}
.topnav a:hover {
    background-color: #FEC83E;
    color: black;
}

/* CONTENT */
.hallo{
    height: 100%;
    margin-top: 30px;
    padding-top: 120px;
    text-align: center;
}
.hallo img {
    border-radius: 50%;
    max-height: 300px;
    width: auto;
}
.hallo h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5rem;
    margin-top: 0;
    margin-bottom: 0;
}
.hallo p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
}
