.teks{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.teks h1{
    font-size: 50px;
}

.teks h3{
    font-size: 30px;
}

.form-Wrapper input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-width: 350px;
    font-size: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    padding: 5px;
    color: #D5D5D5;
    background-color:white;
    outline: none;
}

