{% load static %}

<html>
    <head>
        <title>Hello</title>
        <link rel="stylesheet" href= "{% static 'style.css' %}">
    </head>
    <body>
        <div class="teks">
            <h1>Haloo!!</h1>
            <h3>Apa kabar?</h3>
        </div>
        <div>
            <form class="form-wrapper" action="/">
                {% csrf_token %}
                {{ form }}
                {% endfor %}
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>