{% load static %}

<html>
    <head>  
        <link rel="stylesheet" href= "{% static 'lab5/css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="">Beranda</a>
            <a href="/keahlian">Keahlian</a>
            <a href="/kontak">Kontak</a>
            <a href="/kegiatan">Tambah Kegiatan</a>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>
