{% extends "./base.html" %}
{% load static %}

{% block content %}
    <div class="teks">
        <h2>Saya bisa</h2>
        <div class="columndo">
            <img src="{% static 'lab5/img/2.png' %}" alt="">
            <h3>Merancang Website!</h3>
            <p>Studi saya di Fasilkom memberikan<br>penetahuan bagi saya
                dalam mengerjakan atau merancang<br>sebuah website pribadi
                ataupun perusahaan.
            </p>
        </div>
        <div class="columndo">
            <img src="{% static 'lab5/img/3.jpg' %}" alt="">
            <h3>Design!</h3>
            <p>Design adalah hobi lain yang sering saya kerjakan.<br>
                Saya sangat menyukai design yang simpel, <br>namun dapat menghasilkan tampilan yang elegan
            </p>
        </div>
    </div>
{% endblock %}