{% extends './base.html' %}
{% load static %}

{% block content %}

<div class="form">
    <h3>Tambah Kegiatan</h3>    
    <form>
        <input type="text" name="kegiatan" value="nama kegiatan"
            onblur="if(this.value==''){ this.value='nama kegiatan'}"
            onfocus="if(this.value=='nama kegiatan'){ this.value=''}"/><br>
        <input type="text" name="kategori" value="kategori"
            onblur="if(this.value==''){ this.value='kategori'}"
            onfocus="if(this.value=='kategori'){ this.value=''}"/><br>
        <input type="text" name="tempat" value="tempat"
            onblur="if(this.value==''){ this.value='tempat'}"
            onfocus="if(this.value=='tempat'){ this.value=''}"/><br>
        <input type="text" name="hari" value="hari"
            onblur="if(this.value==''){ this.value='hari'}"
            onfocus="if(this.value=='hari'){ this.value=''}"/><br>
        <input type="date" name="tanggal"><br>
        <input type="time" name="waktu"><br>
        <input type="submit" value="kirim">

    </form>
</div>

{% endblock %}