{% extends './base.html' %}
{% load static %}

{% block content %}
        <div class="hallo">
            <img src="{% static 'lab5/img/1.jpg' %}" alt="">
            <h1>Hai, saya Saul</h1>
            <p>Mahasiswa Fakultas Ilmu Komputer Universitas Indonesia.</p>
        </div>
 {% endblock %}
