{% extends './base.html' %}
{% load static %}

{% block content %}
<div class="kegiatan-wrapper">
    <form action="/your-name/" method="post">
        <h1>Tambah Kegiatan!</h1>
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}